<h1>Student - show</h1>
<p>
  <strong>Full name:</strong>
  <%= @student.full_name%>
</p>
<p>
  <strong>Age:</strong>
  <%= @student.age%>
</p>
<p>
  <strong>Nationality:</strong>
  <%= @student.nationality%>
</p>
<p>
  <strong>City at:</strong>
  <%= @student.city_at%>
</p>
<p>
  <strong>City to:</strong>
  <%= @student.city_to%>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @student.phone_number%>
</p>
<p>
  <strong>Link to github:</strong>
  <%= @student.link_to_github%>
</p>
<p>
  <strong>Link to linkedin:</strong>
  <%= @student.link_to_linkedin%>
</p>
<p>
  <strong>Passport:</strong>
  <%= @student.passport%>
</p>
<p>
  <strong>Remoto work:</strong>
  <%= @student.remoto_work%>
</p>
<p>
  <strong>Work abroad:</strong>
  <%= @student.work_abroad%>
</p>
<p>
  <strong>Interest:</strong>
  <ul>
    <%@student.fields_of_interests.each do |fields_of_interest|%>
      <li><%=fields_of_interest.interest%></li>
    <%end%>
  </ul>
</p>
<p>
<p>
<%= link_to "Add field of interest", new_student_fields_of_interest_path(@student)%>
</p>
  <strong>Portfolio:</strong>
  <ul>
    <%@student.portfolio_types.each do |portfolio_type|%>
      <li><%=portfolio_type.image_card%></li>
      <li><%=portfolio_type.url%></li>
      <li><%=portfolio_type.title%></li>
    <%end%>
  </ul>
</p>
<p>
<%= link_to "Add portfolio type", new_student_portfolio_type_path(@student) %>
</p>
<p>
  <strong>Language:</strong>
  <ul>
    <%@student.languages.each do |language|%>
      <li><%=language.language%></li>

      <li><%=language.score%></li>
      <%end%>
  </ul>
<p>
<%= link_to "Add Languages", new_student_language_path(@student)%>
</p>
  <strong>Professional experience:</strong>
  <ul>
    <%@student.professional_experiences.each do |professional_experience|%>
      <li><%=professional_experience.description%></li>
      <li><%=professional_experience.started_at%></li>
      <li><%=professional_experience.finalized_at%></li>
      <li><%=professional_experience.ocupation%></li>
      <li><%=professional_experience.company%></li>
    <%end%>
  </ul>
</p>
<p>
<%= link_to "Add professional experience", new_student_professional_experience_path(@student)%>
</p>
<p>
  <strong>Video:</strong>
  <ul>
    <%@student.videos.each do |video|%>
      <li><%=video.url%></li>
    <%end%>
  </ul>
<p>
<%= link_to "Add Video", new_student_video_path(@student)%>
</p>
  <strong>Courses:</strong>
  <ul>
     <%@student.courses.each do |course|%>
      <li><%=course.description%></li>
      <li><%=course.started_at%></li>
      <li><%=course.finalized_at%></li>
      <li><%=course.title%></li>
      <li><%=course.company%></li>
    <%end%>
  </ul>
</p>
<p>
<%= link_to "Add course", new_student_course_path(@student)%>
</p>
</p>
  <strong>Student Skills:</strong>
  <ul>
     <%@student.student_skills.each do |student_skill|%>
      <li><%=student_skill.score%></li>
    <%end%>
  </ul>
</p>
<p>
<%= link_to "Add skill", new_student_student_skill_path(@student)%>
</p>
