<h1>Student - show</h1>
<p>
  <strong>Full name:</strong>
  <%= @student.full_name%>
</p>
<p>
  <strong>Age:</strong>
  <%= @student.age%>
</p>
<p>
  <strong>Nationality:</strong>
  <%= @student.nationality%>
</p>
<p>
  <strong>City at:</strong>
  <%= @student.city_at%>
</p>
<p>
  <strong>City to:</strong>
  <%= @student.city_to%>
</p>
<p>
  <strong>Phone number:</strong>
  <%= @student.phone_number%>
</p>
<p>
  <strong>Link to github:</strong>
  <%= @student.link_to_github%>
</p>
<p>
  <strong>Link to linkedin:</strong>
  <%= @student.link_to_linkedin%>
</p>
<p>
  <strong>Passport:</strong>
  <%= @student.passport%>
</p>
<p>
  <strong>Remoto work:</strong>
  <%= @student.remoto_work%>
</p>
<p>
  <strong>Work abroad:</strong>
  <%= @student.work_abroad%>
</p>
<p>
  <strong>Interest:</strong>
  <ul>
    <%@student.fields_of_interests.each do |fields_of_interest|%>
      <li><%=fields_of_interest.interest%></li>
    <%end%>
  </ul>
</p>

<%= link_to "Add field of interest", new_student_fields_of_interest_path(@student)%>
