<div>
            <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">education</h5>
              <ul class="list text-white-50 ml-6 py-2 text-left text-capitalize">
                <%@student.courses.each do |course|%>
                Course: <%=course.title%><br class="list-item">
                Company: <%=course.company%><br class="list-item">
                <p><i class="fas fa-book-open"></i>  <%=course.description%></p>
                        <div>
                            <%=link_to course_path(course), method: :delete do   %>
                            <p><i class="fas fa-minus-circle text-warning" ></i></p>
                            <% end%>
                       </div>
                <hr>
                <%end%>
                <div class="text-dark py-4">
                <%= link_to "Add course", new_student_course_path(@student), class: "text-blue"%>
              </ul>
          </div>