<%= simple_form_for [@student, @student_skill] do |f|%>
    <div class="col-md-6 offset-md-3">
    <%= f.input :score, :placeholder => 'Score', as: :range, input_html: {min: 0, max: 100}  %>
    </div>
    <div class="col-md-6 offset-md-3">
    <input type="range">
    </div>
    <%#= f.input :name %>
    <%#= f.input :skill_type %>
    <%= simple_fields_for :skill do |t| %>
          <div class="col-md-6 offset-md-3">
    <%= t.input :name, label: "name", :placeholder => 'Name'  %>
    </div>
        <div class="col-md-6 offset-md-3">
      <%= t.input :skill_type, label: "skill type", :placeholder => 'Skill type'  %>
    </div>
    <% end %>
        <div class="col-md-6 offset-md-3">
    <%= f.submit 'add to skill', class: 'btn btn-primary'%>
    </div>
<% end %>
