<%= simple_form_for [@student, @course] do |f|%>
    <div class="col-md-6 offset-md-3">
      <%= f.input :description, :placeholder => 'Descriprion'  %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= f.input :started_at, :placeholder => 'Started at'  %>
    </div>
      <div class="col-md-6 offset-md-3">
    <input type="date">
    </div>
    <p>
    </p>
    <p>
    </p>
    <div class="col-md-6 offset-md-3">
      <%= f.input :finalized_at, :placeholder => 'Finalized at'  %>
    </div>
    <div class="col-md-6 offset-md-3">
    <input type="date">
    </div>
    <p>
    </p>
    <p>
    </p>
    <div class="col-md-6 offset-md-3">
      <%= f.input :title, :placeholder => 'Title'  %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= f.input :company, :placeholder => 'Company'  %>
    </div>
    <div class="col-md-6 offset-md-3">
      <%= f.submit 'add to professional experience', class: 'btn btn-primary'%>
    </div>
<% end %>
